body{
    background: linear-gradient(#6600ff, #fcb045, #fd1d1d);
    
}

.name_of_objects{
   color: whitesmoke;
   background: linear-gradient(#6600ff, #fcb045, #fd1d1d);
}

#camera{
    width: 350px;
    height: 400px;
    border: 3px solid rebeccapurple;
}

